body {
  padding: 24px 0;
  background-color: #000;
}

.page-welcome {
  margin: 0 auto;
  max-width: 393px;
  max-height: 852px;
  background-color: #fff;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.page--background {
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.page--background2 {
  position: absolute;
  top: 50;
  right: 0px;

  max-width: 393px;
  max-height: 450px;
  width: 100%;
  height: 100%;

  background-image: url("background2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.page__titles {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.page__title1 {
  color: #fff;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}
.page__title2 {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
}

.page__buttons {
  padding-top: 470px;
  padding-bottom: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 12px;
}

.page__button {
  color: #fff;
  background: #775ce5;
  padding: 20px 140px;
  border-radius: 12px;
  border: 1px solid #775ce5;
  text-decoration: none;
  width: 100%;
}

.page__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.page__button:active {
  opacity: 0.3;
  cursor: default;
}

.page__button--white {
  background: #fff;
  color: #775ce5;
}
