.settings__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.settings__title {
  color: #1d1d1f;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.page__subtitle--start {
  align-self: flex-start;
  line-height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.page__section--change {
  gap: 12px;
}
.form--change {
  padding-top: 0;
}

.page__button--settings {
  padding: 20px 120px;
}
