.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* width: 100%; */
}

.field__label {
  font-size: 14px;
  color: #1d1d1f;
}

.field__input {
  border: 1px solid #775ce5;
  padding: 20px 16px;
  border-radius: 12px;

  font-size: 14px;
  align-self: stretch;
  color: #1d1d1f;
  transition: border-color 0.3s;
}

.field__input::placeholder {
  color: #939199;
}

.field__input:hover {
  border-color: #e28dd7;
}

.field__input:focus {
  border-color: #e28dd7;
}
