.page-balance--background {
  background-image: url("mesh.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.header__title {
  font-size: 16px;
  color: #f3f5ff;
}

.notifications-button {
  background-image: url("notifications.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: opacity 0.7s;
}

.notifications-button:hover {
  opacity: 0.7;
}

.settings-button {
  background-image: url("settings.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: opacity 0.7s;
}

.settings-button:hover {
  opacity: 0.7;
}

.page-balance__title {
  color: #fff;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  align-self: center;
}

.page-balance__buttons {
  display: inline-flex;
  align-items: flex-start;
  align-self: center;
  gap: 32px;
  padding-top: 15px;
}

.page-balance__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;

  cursor: pointer;
  transition: opacity 0.7s;
}

.page-balance__button:hover {
  opacity: 1.3;
}

.page-balance__button-receive-img {
  background-image: url("receive.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 72px;
  height: 72px;
}

.page-balance__button-send-img {
  background-image: url("send.svg");
  background-repeat: no-repeat;
  background-position: top right;
  width: 72px;
  height: 72px;
}

.page-balance__button-text {
  color: #1d1d1f;
  text-align: center;
  font-size: 14px;
}

.trans__items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.trans__scrollbar {
  padding-right: 15px;
  max-height: 700px;
  overflow-y: scroll;
}

.trans__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}

.trans__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.trans__item-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.trans__item-image {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #f7f7f7;
  background-image: url("sending.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.trans__item-image--stripe {
  background-image: url("stripe.svg");
}

.trans__item-image--coinbase {
  background-image: url("coinbase.svg");
}

.trans__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.trans__item-info-title {
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 500;
}

.trans__item-info-text {
  color: #939199;
  font-size: 12px;
}

.trans__sum {
  color: #1d1d1f;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.trans__sum--green {
  color: #24b277;
}
